{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1 class="text-2xl text-center">Records</h1>
    {% if records %}
        <table class="table-auto mt-8 border-collapse border border-slate-800">
            <thead class="bg-gray-400">
                <tr class="rounded-xl py-3 h-12 border border-slate-500">
                    <th>Name</td>
                    <th>Email</td>
                    <th>Phone</td>  
                    <th>Address</td> 
                    <th>City</th>  
                    <th>State</th>
                    <th>Zip code</th>  
                    <th>Created At</th> 
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr class="h-8 text-center border border-slate-500 hover:bg-gray-300 hover:text-lg">
                        <td>{{ record.first_name}} {{ record.last_name }} </td>
                        <td>{{ record.email }}</td>
                        <td>{{ record.phone }}</td>
                        <td>{{ record.address }}</td>
                        <td>{{ record.city }}</td>
                        <td>{{ record.state }}</td>
                        <td>{{ record.zipcode }}</td>
                        <td>{{ record.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% else %}
    <h1 class="text-3xl text-center mb-3">Already having an account</h2>
    <h1 class="text-2xl text-center mb-8"> Authenticate Here !</h1>
    <form method="POST" action="{% url 'home' %}" class="w-1/2 bg-gray-300 rounded-xl self-center px-4 py-10 flex flex-col" autocomplete="off">
        {% csrf_token %}
        <div class="flex flex-col p-1 mb-2">
            <label for="username" class="mb-1 ml-2">Username :</label>
            <input type="text" name="username" id="username" 
            autocomplete="false"
            placeholder="Type in your username"
            required 
            class="border rounded-xl pl-4 py-2 mt-2"
            />
        </div>
        <div class="flex flex-col p-1 mb-3">
            <label for="password" class="mb-1 ml-2">Password :</label>
            <input type="password" name="password" id="password" 
            autocomplete="false"
            placeholder="Type in your password"
            class="border rounded-xl pl-4 py-2 mt-2"
            required
            />
        </div>
        <button type='submit' name='login'
        class="bg-green-400 self-center mt-6 px-6 py-3 border rounded-xl text-lg hover:bg-green-500 "
        >Login</button>
    </from>
{% endif %}
{% endblock %}