<nav class="bg-gray-700 h-30 px-8 py-4 flex justify-between">
    <div class="text-white text-lg">
    <a href="{% url 'home' %}"> Django CRM </a> 
    </div>
    <div class="flex items-center text-white justify-around w-1/5">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'create' %}">New record</a>
        {% else %}
            <a href="{% url 'home' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
</nav>